# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
.env
.env.local

# build output
dist/
build/
.next/
.out/

# OS junk
.DS_Store

# editor
.vscode/
.idea/